@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    line-height: 1.7;

}
h1,h2,h3,h4,h6{
    font-weight:900 !important;
    font-size: 70px;
}
a{
    text-decoration: none;
    transition: 1s ease;
    font-weight: 900; 
}
img{
    width: 100%;
}
.navbar{
    box-shadow: 0 12px 20px rgb(0,0,0,0.1);
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}
.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background:linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7));
    z-index: -1;
}
.hero-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 12px 22px;
   
}
.btn-main{
    background:linear-gradient(to right,#ece9e6,rgb(149, 154, 247));
    border-radius: 100px;
    border: none;
    font-weight: 800;

}
.btn:hover{
    color: #b115dc;
    transform: translateY(5px);
}
.section-into{
    margin-bottom: 40px;
}
.section-into .divider{
    height: 4px;
    width: 70px;
    background:linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7));
    margin: 16px auto;
}
.Services .Service-img .icon{
    height: 90px;
    width: 90px;
    background: linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7)) ;
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);


}
.Services .Service-img .icon i{
    font-size: 36px;
}
.Services .Service-img{
    position: relative;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show> .nav-link{

    background: -webkit-linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.video-btn{
    width: 60px;
    height: 60px;
    background:linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7)) ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 100px;
}
.feature i{
    background: -webkit-linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
}
.Review .person {
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.07) ;
    padding-bottom: 24px;

     
}
.Review .person.Fulk{
    border-bottom: 3px solid rgba(0, 0, 0, 0.07);
}
.Review img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}
.Review{
    box-shadow: 0 18px 18px rgba(0, 0, 0, 0.1);
}
.Review .stars{
    color: orange;
}
form .form-control {
    border-radius: 0;
    background: linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7));
    color: white;
    background-color:rbga(255,255,255,0.7);
}
form .form-control::placeholder{
    color: #fff;
}
form input.form-control{
    height: 54px;
}
form .form-control:focus{
    color: #fff;
    background: transparent;
}
footer{
    background:linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7));
    color: #fff;
}
footer a{
    color: #fff;
}
.video-btn i {
    font-size:32px ;
}
.social{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
   
}
.social-icon{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-flow:wrap;
    
}
@media screen and (max-width:1200px) {
    .fa-brands{
        width:40%;
    }  
}

@media screen and (max-width:6oopx) {
    .fa-brands{
        width:90%;
    }  
}
.social-icon a{
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;  /*linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7))*/
    color:rgba(6, 6, 68, 0.7);
    background-color: rgba(203, 108, 230, 0.4);
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    margin: 5px;

}
.social-icon a .fa-brands{
    font-size: 20px;
    line-height: 60px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;

}
.social-icon a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    position: absolute;
    background-color: #ffffff;
    transition: 0.5s;
}
.social-icon a:hover::after{
    top: 0;
}

.social-icon a:hover .maxf{
    color: #3b5998;
}
.social-icon a:hover .maxt{
    color: #55acee;
}
.social-icon a:hover .maxl{
    color: #0077b5;
}
.social-icon a:hover .maxi{
    color:  #f09433;
}
.social-icon a:hover{
    transform: translateY(-15px);
}
.detail{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}
.card{
    background: linear-gradient(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7));
    padding: 0 20px;
    margin: 0 40px;
    width:350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: solid rgb(238, 122, 7) 3px;
    filter: drop-shadow(-10px -10px 10px rgba(6, 6, 68, 0.7));
   
}
/*.fa-solid{
    font-size: 30px;
    background: linear-gradient(rgba(238, 122, 7, 1),rgba(7, 19, 239, 1));
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px !important;
    border-radius: 50%;
    transition: 0.3s linear;
} */
.card:hover .fa-solid{
    background: none;
    color: rgb(180,132,132);
    transform: scale(1.6);
}
.card p{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 200;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear; 
    color: #fff; 
}
.card:hover p{
    max-height: 40px;
    opacity: 1;
}
@media screen and (max-width:800px) {
     .detail{
        flex-direction: column;
     }
     .card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
     }
    
}
.delta{
   
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background: rgba(6, 6, 68, 1.0);
    overflow: hidden;
    width: 300px;
    border-radius: 10px;
    border: 5px rgb(203, 108, 230,) solid;
}
.contatiner02 {
    width: 250px;
    overflow: hidden;
}
.contatiner02 .text{
    position: relative;
    color: #cb6ce6;
    font-size: 20px;
    font-weight: 600;
}
.contatiner02 .text.first-text{
    color: #FFF;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(6, 6, 68, 1.0);
    border-left: 2px solid #ffffff;
    animation: animate 4s steps(18) infinite;
}
@keyframes animate{
    40%,60%{
        left: calc(100% + 4px);
    }
    100%{
        left:0%}
}


/*--(rgba(203, 108, 230, 0.4),rgba(6, 6, 68, 0.7));